.navbar-default {
	background-image: none;
	margin-bottom: 0;
}

.section-heading {
	margin: 0;
	margin-bottom: 50px;
}

#AveragePrice svg g .x .tick {
	fill: none;
}

#region svg g .x .tick text{
	margin-top: 30px;
	padding: 5;
	transform: rotate(90deg) translate(50px, -10px);
	text-align: left;
	margin-bottom: 40px;
}

#region svg {
	height: 1200px;
}

#region svg g .x-axis-label {
	transform: translate(500px, 735px);
}

.section {
	border-bottom: 1px solid #e6e6e6;
	padding: 30px 0;
}
.section-paragraph {
	line-height: 1.2;
} 